@import "bootstrap-sprockets";
@import "bootstrap";

.bgimage {
  height:160vh;
  background: url("https://time.com/3852303/bike-to-work-week-freebies-tips/");
  background-size:cover;
  position:relative;
}

.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

body {
  background-color: #ffffff;
}

table {
  // border: 1px solid black;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  // border: 1px solid black;
  width: 150px;
  overflow: hidden;
  padding: 4px;
  vertical-align: bottom;
}

img {
  height: auto;
  width: 100%;
}

.navbar {
  font-size: medium;
}

a {
  color: var(--bs-blue);
}

#home, #all-bikes, #new-bikes {
  color: adjust-hue($color: #3f3f3f, $degrees: 0);
}

#carouselExampleControls{
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.hr{
}