<section class="container">
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash alert <%= alert_class_by_type(key) %>"><%= value %></div>
    <% end %>
  </div>
  <%# <p class="notice"><%= notice</p> %>
  <%# <p class="alert"><%= alert</p> %>
</section>

